@import "../../components/tab-effects/realtime-clock/realtime-clock.css";
@import "../../components/tab-effects/energy-bar/energy-bar.css";
@import "../../components/tab-effects/radar-map/radar-map.css";
@import "../../components/tab-effects/graph-canvas/graph-canvas.css";
@import "../../components/tab-effects/earth-map/earth-map.css";
@import "../../components/tab-effects/keyboards/keyboards.css";
@import "../../components/tab-effects/dynamic-star/dynamic-star.css";

.tab-effects {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.effects-hide {
  display: none;
}
